<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR Code Attendance Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-item lines="none" class="list-header">
          <h2>Courses</h2>
          <ion-button slot="end" (click)="openNewCourseModal()">
            <ion-icon name="add"></ion-icon>
            Add Course
          </ion-button>
        </ion-item>
        <ion-item lines="none" class="list-item" *ngFor="let course of courses">
          <ion-label>
            {{course.name}}
          </ion-label>
          <ion-checkbox [(ngModel)]="course.isChecked" (ionChange)="selectionChanged()">
          </ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-row>
          <ion-col class="meeting-header-col">
            <ion-item class="list-header">
              <h2>Meetings</h2>
              <ion-button slot="end" class="add-meeting-button" [disabled]="noCoursesSelected()"
                (click)="addNewMeeting()">
                <ion-icon name="add"></ion-icon>
                Add Meeting
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="list-item" *ngIf="! noCoursesSelected()">
          <ion-col size="1">
            <ion-item class="meetings-list-header">Course</ion-item>
          </ion-col>
          <ion-col size="2" class="meetings-list-header">
            <ion-item class="meetings-list-header">Meeting Name</ion-item>
          </ion-col>
          <ion-col size="2" class="meetings-list-header">
            <ion-item class="meetings-list-header">Date</ion-item>
          </ion-col>
          <ion-col size="1.3" class="meetings-list-header">
            <ion-item class="meetings-list-header">Attendence</ion-item>
          </ion-col>
          <ion-col class="meetings-list-header">
            <ion-item class="meetings-list-header">Moodle Gradebook File Upload</ion-item>
          </ion-col>
          <ion-col size="0.5">
          </ion-col>
        </ion-row>
        <ion-row class="list-item" *ngFor="let meeting of meetings; let i = index">
          <ion-col size=" 1">
            <ion-item lines="none" [ngClass]="computeClasses(i, meetings.length)">{{meeting.courseName}}</ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item lines="none" [ngClass]="computeClasses(i, meetings.length)">{{meeting.notes}}</ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item lines="none" [ngClass]="computeClasses(i, meetings.length)">{{meeting.date}}</ion-item>
          </ion-col>
          <ion-col size="1.3">
            <ion-item lines="none" [ngClass]="computeClasses(i, meetings.length)">{{meeting.numberOfAttendees}}
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none" [ngClass]="computeClasses(i, meetings.length)">
              <input id="txtFileUpload" type="file" accept=".csv" (change)="uploadCSV($event, meeting)" />
            </ion-item>
          </ion-col>
          <ion-col size="0.5">
            <ion-item class="trash-item" lines="none" [ngClass]="computeClasses(i, meetings.length)">
              <ion-icon name=" trash" (click)="deleteMeeting(meeting)">
              </ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>