<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR Code Attendance Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="coursesList">
        <ion-item>
          <h2>Courses</h2>
          <ion-button slot="end" (click)="openNewCourseModal()">
            <ion-icon name="add"></ion-icon>
            Add Course
          </ion-button>
        </ion-item>
        <ion-item *ngFor="let course of courses">
          <ion-label>
            {{course.name}}
          </ion-label>
          <ion-checkbox [(ngModel)]="course.isChecked" (ionChange)="selectionChanged()">
          </ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>Meetings</h2>
            </ion-col>
            <ion-col>
              <ion-button class="add-meeting-button" [disabled]="noCoursesSelected()" (click)="addNewMeeting()">
                <ion-icon name="add"></ion-icon>
                Add Meeting
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="show-border" *ngIf="! noCoursesSelected()">
            <ion-col size="1" class="meetings-list-header">Course</ion-col>
            <ion-col size="2" class="meetings-list-header">Meeting Name</ion-col>
            <ion-col size="2" class="meetings-list-header">Date</ion-col>
            <ion-col size="1.3" class="meetings-list-header">Attendence</ion-col>
            <ion-col class="meetings-list-header">Moodle Gradebook File Upload</ion-col>
            <ion-col size="0.3">
            </ion-col>
          </ion-row>
          <ion-row class="show-border" *ngFor="let meeting of meetings">
            <ion-col size="1">{{meeting.courseName}}</ion-col>
            <ion-col size="2">{{meeting.notes}}</ion-col>
            <ion-col size="2">{{meeting.date}}</ion-col>
            <ion-col size="1.3">{{meeting.numberOfAttendees}}</ion-col>
            <ion-col>
              <input id="txtFileUpload" type="file" accept=".csv" (change)="uploadCSV($event, meeting)" />
            </ion-col>
            <ion-col size="0.3">
              <ion-icon name="trash" (click)="deleteMeeting(meeting)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>