<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR Code Attendance Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="coursesList">
        <ion-item>
          <h2>Courses</h2>
          <ion-button slot="end" (click)="openNewCourseModal()">
            <ion-icon name="add"></ion-icon>
            Add Course
          </ion-button>
        </ion-item>
        <ion-item *ngFor="let course of courses">
          <ion-label>
            {{course.name}}
          </ion-label>
          <ion-checkbox [(ngModel)]="course.isChecked" (ionChange)="selectionChanged()">
          </ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <div>
            <h2>Meetings</h2>
          </div>
          <ion-button [disabled]="addNewMeetingButtonDisabled()" slot="end" (click)="addNewMeeting()">
            <ion-icon name="add"></ion-icon>
            Add Meeting
          </ion-button>
        </ion-item>

        <div *ngIf="meetings">
          <ion-item *ngFor="let meeting of meetings">
            {{meeting.courseName + ' - ' + meeting.notes + ' - ' + meeting.date + ' - ' + meeting.numberOfAttendees + ' submissions '}}
            Moodle Gradebook File Upload
            <input id="txtFileUpload" type="file" accept=".csv" (change)="uploadCSV($event, meeting)" />
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>